---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.hidden == nil %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>

          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
            {% for tag in post.tags %}
              <span class="post-tag">{{ tag }}</span>
            {% endfor %}
          </span>

          {% for translation in post.translations %}
            <br />
            <span class="post-meta">
              {% if translation[0] == "pl" %}
              <a href="{{ translation[1] | prepend: site.baseurl_root }}">Czytaj po polsku 🇵🇱</a>
              {% elsif translation[0] == "en" %}
              <a href="{{ translation[1] | prepend: site.baseurl_root }}">Read in English 🇺🇸</a>
              {% endif %}
            </span>
          {% endfor %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
