<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-header">
      <div class="footer-header-col-1">
        <h2 class="footer-heading">{{ site.title }}</h2>
        {% if site.lang == "pl" %}
        <p class="rss-subscribe">Subskrybuj <a href="{{ "/feed.xml" | prepend: site.baseurl }}">za pomocą RSS</a></p>
        {% else %}
        <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        {% endif %}
      </div>

      <div class="footer-header-col-2">
        <p>{{ site.translations[site.lang].description }}</p>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="contact-name">{{ site.real_name }}</p>
        <ul class="social-media-list">
          <li>
            <a href="mailto:{{ site.email }}"><span class="icon icon--email">{% include icon-email.svg %}</span><span class="username">Email</span></a>
          </li>
          <li>
            <a href="{{ site.github_url }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">GitHub</span></a>
          </li>
          <li>
            <a href="{{ site.linkedin_url }}"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span><span class="username">LinkedIn</span></a>
          </li>
          <li>
            <a href="{{ site.bluesky_url }}"><span class="icon icon--bluesky">{% include icon-bluesky.svg %}</span><span class="username">Bluesky</span></a>
          </li>
          <li>
            <a href="{{ site.mastodon_url }}"><span class="icon icon--mastodon">{% include icon-mastodon.svg %}</span><span class="username">Mastodon</span></a>
          </li>
          <li>
            <a href="{{ site.twitter_url }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="username">Twitter</span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  {% include analytics.html %}

</footer>
