$shadow-box-dark-color: #dfdfdf;
$shadow-box-light-color: lighten($shadow-box-dark-color, 5%);

.aside {
  background-color: $shadow-box-dark-color;
}

.figure {
  background-color: $shadow-box-light-color;
}

.aside, .figure {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 1px 1px #000;

  p:last-child {
    margin-bottom: 0;
  }
}

.aside-header {
  display: inline;
  font-weight: 700;
  text-shadow: 0px 1px 1px #fff;

  &:before {
    content: 'aside: ';
    font-variant: small-caps;
    text-transform: lowercase;
  }

  a:after {
    top: -5px;
    content: '\25BC';
    font-size: 10px;
    margin-left: 5px;
  }
}

.aside-contents {
  display: none;
}

.aside:target .aside-contents {
  display: block;
}
