.post {
  hr {
    border: none;
    border-top: solid gray 1px;
    margin: 20px auto;
  }

  .caption {
    display: block;
    text-align: center;
  }
}

.hacker-news:before {
  background-color: #FF6600;
  color: white;
  content: 'Y';
  display: inline-block;
  font-size: $base-font-size;
  height: $base-line-height * $base-font-size;
  margin-right: 5px;
  text-align: center;
  width: $base-line-height * $base-font-size;
}
