.publication-notes {
    margin-bottom: $spacing-unit;

    &::before {
        background-color: $note-background-color;
        border: solid $note-color $note-border-width;
        content: "Publication notes";
        display: block;
        font-weight: bolder;
        // HACK: I don't know where these margin values come from, but the seem
        // to be needed to align the element with the cells below it:
        margin-left: 2px;
        margin-right: 2px;
        text-align: center;

        [lang="pl"] & {
            content: "Notatki opublikowania";
        }
    }

    td {
        background-color: $note-background-color;
        border: solid $note-color $note-border-width;
        padding-left: 5px;
        padding-right: 5px;

        &:first-child {
            font-weight: bolder;
            text-align: right;
        }

        ul {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}
