---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.typeset_math %}
      <noscript>
        <p><i>This article is best viewed with Javascript enabled, for math
          typesetting.</i></p>
      </noscript>
    {% endif %}
    {{ content }}
  </div>

</article>

{% if page.related_posts %}
<h1>Related posts</h1>
<p>The following are hand-curated posts which you might find interesting.</p>

<table class="related-posts">
<thead>
  <tr>
    <th>Date</th>
    <th></th>
    <th>Title</th>
  </tr>
</thead>

<tbody>
{% for related_post in page.related_posts %}
  <tr>
    <td>{{ related_post.date | date: "%d %B %Y" }}</td>
    <td>
      {% if related_post.permalink == page.permalink %}
      (this post)
      {% endif %}
      </td>
    <td><a href="{{ site.base_url }}/{{ related_post.permalink }}">{{ related_post.title }}</a>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
</ul>

<p><!-- spacer --></p>
{% endif %}

<h1>Discussion</h1>

<ul>
{% if page.hn %}
<li class="hacker-news"><a href="{{ page.hn }} ">Discussion on Hacker News</a></li>
{% endif %}
{% if page.reddit %}
<li><a href="{{ page.reddit }} ">Discussion on Reddit</a></li>
{% endif %}
</ul>

{% if page.typeset_math %}
<link rel="stylesheet" href="/css/katex.min.css" />
{% endif %}

{% include comments.html %}
